/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn.lock
yarn-error.log
bash.exe.stackdump
.env
.svn
.phpunit.result.cache
.editorconfig
*.bak
*.log
/vue
*.swp
.php_cs.cache
